.button {
    background-color: #DF7676;
    color: white;
    font-family: 'Mate SC';
    font-size: 130%;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    align-self: flex-start;
}

.button:hover {
    background-color: #c96666;
}

.world-map-view {
    max-width: 100%;
    height: auto;
}

.image {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}

.view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'EB Garamond';
}

.world-view-info {
    width: 80%;
    padding: 2%;
    border: 3px dashed #F0D58E;
    text-align: center;
}

.world-info-title {
    margin-bottom: 0.5rem;
    font-family: 'Great Vibes';
    font-size: 300%;
}

.world-info-text {
    margin-top: 1rem;
    text-align: justify;
}

.location-list,
.civilization-list {
    width: 80%;
    padding: 2%;
    border: 3px dashed #F0D58E;
    margin-top: 2rem;
}

.location-list-title,
.civilization-list-title {
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Mate SC';
    font-weight: bold;
    font-size: 150%;
}

.location-item,
.civilization-item {
    background-color: #F0D58E;
    border-radius: 5px;
    padding: 2%;
    margin: 1rem 0;
}

.sub-info {
    font-weight: bold;
    font-size: 110%;
    text-decoration: underline;
}

.module-heading {
    font-size: 140%;
    font-weight: bold;
}