.main {
    width: 100%;
    margin: 1%;
    font-family: 'EB Garamond';
}

.forms {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 50%;
}

.input-box {
    width: 97%;
    font-family: 'EB Garamond';
}

.button {
    background-color: #DF7676;
    color: white;
    font-family: 'Mate SC';
    font-size: 130%;
    padding: 5px 20px;
    border-radius: 5px;
    border: none; 
}

.button-box {
    display: flex;
    justify-content: space-around;
}

.mini-form-box {
    margin: 1%;
    border-style: dashed;
    border-color: #F0D58E;
    border-width: 3px;
    padding: 2%;
}

.mini-form-button {
    background-color: #DF7676;
    color: white;
    font-family: 'Mate SC';
    font-size: 50%;
    padding: 5px 20px;
    border-radius: 5px;
    border: none; 
}

.list-item {
    display: flex;
    background-color: #F0D58E;
    border-radius: 5px;
    padding: 2%;
    margin: 3%;
    justify-content: space-between;
}

.list-item-text {
    margin-left: 4px;
    max-height: 4.1em;
    overflow: hidden;
}

.list-item-image {
    width: 55px;
    height: 55px;
    margin: 2px;
    object-fit: cover;
    align-self: center;
}

.list-item-button {
    width: 100%;
    background-color: #DF7676;
    color: white;
    font-family: 'Mate SC';
    text-align: center;
    font-size: 80%;
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
}

.location-info {
    padding: 4px;
}

.civilization-info {
    padding: 4px;
}

.world-map-form {
    margin: 2%;
    margin-left: 0%;
}

.world-description-form {
    margin: 2%;
    margin-right: 0%;
}

.world-description-input {
    height: 4em;
    width: 97%;
    font-family: 'EB Garamond';
}